@import '../../../assets/styles/variables.scss';

.container {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: $primary;
}

.banner {
  transform: skewY(-11deg);
  width: 100%;
  display: grid;
  place-items: center;
  background-color: $secondary;
  padding: 50px 0;
}

.card {
  transform: skewY(11deg);
  color: white;
  font-size: 1.5em;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  text-align: center;
  
  .title, .subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .subtitle {
    font-weight: 300;
  }
}

.fluid-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
