$bookOf2k-primary-color: (
  50 : #fdecef,
  100 : #fbd0d4,
  200 : #e99f9f,
  300 : #de7c7a,
  400 : #e7605a,
  500 : #eb5443,
  600 : #dd4b41,
  700 : #cb423b,
  800 : #be3d34,
  900 : #ad352a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bookOf2k-secondary-color: (
  50 : #edf0f1,
  100 : #d1dadd,
  200 : #b3c1c7,
  300 : #94a8b0,
  400 : #7c949f,
  500 : #64828e,
  600 : #58737d,
  700 : #495e67,
  800 : #3b4b52,
  900 : #2a363b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bookOf2k-primary: mat-palette($bookOf2k-primary-color, 600, 400, 900);
$bookOf2k-accent: mat-palette($bookOf2k-secondary-color, 900, 700, A400);

// The warn palette is optional (defaults to red).
$bookOf2k-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bookOf2k-theme: mat-light-theme((
  color: (
    primary: $bookOf2k-primary,
    accent: $bookOf2k-accent,
    warn: $bookOf2k-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bookOf2k-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
